:root {
  --berkeley-blue: #003262;
  --california-gold: #FDB515;
  --founders-rock: #3B7EA1;
  --medalist: #C4820E;
}

@font-face {
  font-family: 'TEAMSPIR';
  src: url(fonts/TEAMSPIR.TTF);
}

html {
  background-color: var(--berkeley-blue);
}

body {
  color: var(--california-gold);
  font-family: 'Open Sans', sans-serif;
}

.header {
  font-family: 'TEAMSPIR', 'Open Sans', sans-serif;
  color: var(--california-gold);
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}