:root {
  --berkeley-blue: #003262;
  --california-gold: #FDB515;
  --founders-rock: #3B7EA1;
  --medalist: #C4820E;
}

@font-face {
  font-family: 'Marmellata';
  src: url(fonts/Marmellata.ttf);
}

body {
  background-color: var(--berkeley-blue);
  color: var(--california-gold);
  font-family: 'Marmellata', sans-serif;
  margin: 0;
  padding: 0; 
  height: 100%;

  display: flex; /* Enable vertical layout: header, main, footer  */
  flex-direction: column;
  min-height: 100vh; /* Force website to span the entire height of the viewport */

  text-align: center;
  overflow: hidden;
}

.header {
  font-family: 'Marmellata', 'Open Sans', sans-serif;
  font-size: 50px;
}

.header h1 {
  margin: 10px 0;
}

.rules p {
  margin: 0
}

.rules {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}

/* To make the |'s in the sentences larger and center them*/
.bracket {
  font-size: 1.5em;
  vertical-align: -0.15em;
  font-weight: lighter;
  font-style: normal;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.main p {
  margin-bottom: 40px;
  font-size: 25px;
}

#outcome-paragraph {
  margin-bottom: 0;
}

#winner-paragraph {
  color: var(--medalist);
}

.button-container {
  margin: 20px 0;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
}

.scores-container {
  display: flex;
  justify-content: space-between;
}

.button {
  border: var(--california-gold);
  border-style: solid;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-right: 10px;
  background-position: center center;
  background-size: cover;
  padding: 10px;
  background-clip: content-box;
  background-color: white;
}

.button:hover {
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0.9;
}

.button:active {
  opacity: 0.8;
}

#bear-button {
  background-image: url(images/bear.png);
}

#bees-button {
  background-image: url(images/bee.png);
  background-size: 80%;
}

#honey-button {
  background-image: url(images/honey.jpg);
}

.scoreboard {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.scoreboard p {
  font-size: 30px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 20px;
  width: 100%;
}

#overlay {
  position: fixed; /* Sticks to webpage regardless of scroll */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#darkScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 3s ease;
}

#restartButton {
  font-family: 'Marmellata', sans-serif;
  padding: px 20px;
  color: var(--california-gold);
  background-color: var(--berkeley-blue);
  border: none;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 3s ease;
  font-size: 30px;
  width: 300px;
  height: 100px;
  z-index: 2;
}

#restartButton:hover {
  cursor: pointer;
}
