:root {
  --berkeley-blue: #003262;
  --california-gold: #FDB515;
  --founders-rock: #3B7EA1;
  --medalist: #C4820E;
}

@font-face {
  font-family: 'Marmellata';
  src: url(fonts/Marmellata.ttf);
}

body {
  background-color: var(--berkeley-blue);
  color: var(--california-gold);
  font-family: 'Marmellata', sans-serif;
  margin: 0;
  padding: 0; 

  display: flex; /* Enable vertical layout: header, main, footer  */
  flex-direction: column;
  min-height: 100vh; /* Force website to span the entire height of the viewport */

  text-align: center;
}

.header {
  font-family: 'Marmellata', 'Open Sans', sans-serif;
  font-size: 65px;
  margin: 0px 0;
}

.header h1 {
  margin: 20px 0;
}

.rules p {
  margin: 0
}

.rules {
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
}

/* To make the |'s in the sentences larger and center them*/
.bracket {
  font-size: 1.5em;
  vertical-align: -0.15em;
  font-weight: lighter;
  font-style: normal;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1; /* Main grows to fill all space */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.main p {
  margin-bottom: 40px;
  font-size: 30px;
}

#outcome-paragraph {
  margin-bottom: 0;
}

#winner-paragraph {
  color: var(--medalist);
}

.button-container {
  margin: 30px 0;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
}

.scores-container {
  display: flex;
  justify-content: space-between;
}

.button {
  border: var(--california-gold);
  border-style: solid;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-right: 10px;
  background-position: center center;
  background-size: cover;
  padding: 10px;
  background-clip: content-box;
  background-color: white;
}

.button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.button:active {
  opacity: 0.8;
}

#bear-button {
  background-image: url(images/bear.png);
}

#bees-button {
  background-image: url(images/bee.png);
  background-size: 80%;
}

#honey-button {
  background-image: url(images/honey.jpg);
}

.scoreboard {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.scoreboard p {
  font-size: 30px;
}

.footer {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

